:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(107deg,var(--color-primary), var(--color-secondry));

}
.btn{
    min-width: 200px;
}