<img src="/assets/general/Watan-logo.png" alt="" width="200px">
<form autocomplete="off" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="input-holder block">
        <input type="text" id="userName" name="userName" onfocus="this.removeAttribute('readonly');" readonly   placeholder="User name" [(ngModel)]="userName">
    </div>
    <div class="input-holder block">
        <input type="password" id="password" name="password" onfocus="this.removeAttribute('readonly');" readonly  placeholder="password" [(ngModel)]="password">
    </div>
<div class="btns">
    <a href="#">forgetpassword</a>
    <button class="btn" type="submit">Sign in</button>
</div>
</form>
<p>You don't have an account?</p>
<button class="btn" (mousedown)="navTo('sign-up')">Sign up now!</button>