<div class="header">
    <img src="/assets/img/healthcare.png" alt="">
    <div class="title">{{'Health Care'|text}}</div>
    <button class="back" (click)="back()">
        <mat-icon>
            keyboard_backspace
        </mat-icon>
    </button>
</div>
<div class="btns" [@simpleFadeAnimation]="btns.length">
    <div class="graphs">
        <div class="left" [class.selected]="selection=='health-care'" (mousedown)="healthy()">
            <img src="/assets/img/health-care.png" alt="">
        </div>
        <div class="right" [class.selected]="selection=='physical'" (mousedown)="physical()">
            <img src="/assets/img/physical-health.png" alt="">
        </div>
    </div>
    <button [@simpleFadeAnimation] class="normal-btn" *ngFor="let btn of btns" (mousedown)="navToUrl(btn.url)">
        {{btn.name | text}}
    </button>
</div>
<div class="white-space"></div>
