<div class="header">
    <img src="/assets/general/logo.png" alt="">
    <button class="back" (click)="back()">
        <mat-icon>
            keyboard_backspace
        </mat-icon>
    </button>
</div>
<div class="btns">
    <ng-container *ngIf="data">
        <div *ngFor="let it of data.items" class="item">
            <div *ngIf="it.type == 'video'" class="video">
               <img src="/assets/icons/Youtube-icon.png" alt=""> <a (click)="openVideo(it.url)">{{lang=='en'?it.name:it.arName}}</a>
            </div>
            <div *ngIf="it.type == 'pdf'" class="pdf">
                <img src="/assets/icons/Pdf-icon.png" alt=""><a (click)="openPdf(it)">{{lang=='en'?it.name:it.arName}}</a> 
            </div>
            <div *ngIf="it.type == 'html'" class="html">
                <section class="content" [innerHTML]="lang=='en'?it.content:it.arContent"></section>
            </div>

        </div>
    </ng-container>
</div>
<div class="white-space"></div>