:host{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(280deg,#00375F, #00569D);


color:white
}

.btn-accept{
    min-width: 200px;
    background-color: #f1f1f1;
    color: var(--color-primary);
    &:hover{
        background-color: var(--color-secondry);
        color: white;
    }
}
