<img src="/assets/general/Watan-logo.png" alt="" width="200px">
<form autocomplete="off" #f="ngForm">
    <div class="input-holder block">
        <input type="text" id="FirstName" name="FirstName" autocomplete="false" placeholder="First name" ngModel>
    </div>
    <div class="input-holder block">
        <input type="text" id="LastName" name="LastName" autocomplete="false" placeholder="Last name" ngModel>
    </div>
    <div class="input-holder block">
        <input type="text" id="Phone" name="Phone" autocomplete="false" placeholder="Phone number" ngModel>
    </div>
    <div class="input-holder block">
        <input type="email" id="email" name="email" autocomplete="false" placeholder="Email" ngModel>
    </div>
    <div class="input-holder block">
        <input type="password" id="password" name="password" autocomplete="false" placeholder="password" ngModel>
    </div>
    <div class="input-holder block">
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" autocomplete="false" placeholder="Consfirm password" ngModel>
    </div>
<div class="btns">
    <button class="btn" (click)="f.resetForm()">Reset</button>
    <button class="btn" routerLink="/sign-in">back</button>

    <button class="btn">Sign up</button>
</div>
</form>
<p>OR</p>
<div class="external-login">
    <div class="btn"><img src="/assets/icons/google.png" width="20px" alt="">&nbsp; Continue with Google</div>
    <div class="btn"><img src="/assets/icons/facebook.png" width="20px" alt="">&nbsp;Continue with Facbook</div>
</div>
