:host {
    background-image: linear-gradient(60deg, var(--color-primary), var(--color-secondry));
    mix-blend-mode: normal;
    display: grid;
    place-content: center;
    gap: 25px;
}

form {
    display: grid;
    gap: 10px;
    place-content: center;

    .btn {
        font-weight: bold;
        max-width: 65px;


    }

    .btns {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}
.external-login{
    display: grid;
    gap: 10px;
}
p{
    color: var(--color-secondry);
    text-align: center;
    margin: 0;
}