<form class="form" *ngIf="model">
    <mat-form-field appearance="fill">
        <mat-label>Choose camp</mat-label>
        <mat-select name="campId" [(ngModel)]="model.campId">
            <mat-option *ngFor="let c of camps" [value]="c._id">
                {{c.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="actions">
        <button (click)="addVideo()">
            <img src="/assets/icons/Youtube-icon.png" alt="">
            {{'Add Video'|text}}</button>
        <button (click)="addPdf()">
            <img src="/assets/icons/Pdf-icon.png" alt="">
            {{'Add Pdf'|text}}</button>
        <button (click)="addHtml()">
            <img src="/assets/icons/html.png" alt="">
            {{'Add Html'|text}}</button>
    </div>

    <div class="page-items">
        <div class="page-item" *ngFor="let item of model?.items;let i = index;">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>{{item.type | text}}{{' name'|text}}</mat-label>
                    <input name="name" matInput placeholder="{{'Name'|text}}" [(ngModel)]="item.name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <button (click)="deleteItem(i)" color="warn" mat-button>{{'delete'|text}}</button>
              </p>
            <div *ngIf="item.type == 'video'" class="video">
                <mat-form-field  appearance="outline">
                    <mat-label>{{'Video Url'|text}}</mat-label>
                    <input name="video" matInput placeholder="{{'Video Url'|text}}" [(ngModel)]="item.url">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint></mat-hint>
                  </mat-form-field>
            </div>
            <div *ngIf="item.type == 'pdf'" class="pdf">
                <mat-form-field appearance="outline">
                    <mat-label>{{'Pdf Url'|text}}</mat-label>
                    <input name="pdf" matInput placeholder="{{'Pdf Url'|text}}" [(ngModel)]="item.url">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint></mat-hint>
                  </mat-form-field>
            </div>
            <div *ngIf="item.type == 'html'" class="html">
                
                <form-html [uploadPath]="'contentitems/'+sector" [label]="'Content'" [(value)]="item.content"></form-html>
            </div>
        </div>
    </div>




</form>
<div class="submition">

    <button mat-raised-button [color]="'primary'" (click)="submit()">Save</button>
    <button mat-raised-button (click)="goBack()">Cancel</button>
</div>