<img src="/assets/general/Watan-logo.png" alt="" width="200px">
<div class="main-content">
    <div class="menu-btn" (mousedown)="goTo('awareness')">
        <img src="/assets/img/awareness.png" alt="" class="icon">
        <p>Awareness</p>
    </div>
    <div class="menu-btn" (mousedown)="goTo('reports')">
        <img src="/assets/img/report.png"  alt="" class="icon">
        <p>Reports</p>
    </div>
    <div class="menu-btn" (mousedown)="goTo('bens')">
        <img src="/assets/img/beneficiary.png" alt="" class="icon">
        <p>BENs</p>
    </div>
    <div class="menu-btn">
        <img src="/assets/img/complaints.png"  alt="" class="icon">
        <p>Complaints</p>
    </div>
    <div class="menu-btn">
        <img src="/assets/img/info.png" alt="" class="icon">
        <p>About Watan</p>
    </div>
</div>
<div class="white-space"></div>

