:host {
    background: linear-gradient(280deg,#00375F, #00569D);
    mix-blend-mode: normal;
    display: grid;
    gap: 25px;
    width: 100vw;
    padding-top: 20px;
    justify-items: center;
    animation: background-rotation 2s infinite;
    transition: all 0.2;
    animation-timing-function: ease-in-out;
}

@keyframes background-rotation {
    0% {
         
    }

    25% {
    }

    50% {
    }

    100% {
    }
}
.back{
    height: 50px;
    width: 50px;
    background-color: #F0F1F1;
    border-radius: 50%;
    position: absolute;
    border: 1px solid gray;
    top: 185px;
    left: 15px;
    font-size: 0.6em !important;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px rgb(46, 46, 46);
    transition: all 0.2s;
    &:hover{
        transform: scale(1.1);

    }
}
.main-content {
    width: 100vw;
    overflow: auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -4px 10px #464646;
    

}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    min-width: 60dvw;
    min-height: 60px;
    border-radius: 20px;
    background-color: #FAFAFA;
    color: var(--color-primary);
    border: 1px solid #DEDEE4;
    font-size: 1.3em;
    font-weight: bold;
    transition: all 0.2s;


   

    &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: -14px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #F0F1F1;
        z-index: 2;
        box-shadow: 0px 0px 4px black;
        transition: all 0.2s;

    }

    p {

        color: var(--color-primary);
        margin-top: 0;
        font-size: 0.8em;
        margin-bottom: 0;
        z-index: 1;
        transition: all 0.2s;
    }

    .icon {
        transition: all 0.2s;
        position: absolute;
        top: 13px;
        left: -5px;
        width: 31px;
        height: 31px;
        z-index: 3;
    }

    &:hover {
        background-color: #F0F1F1;
        border: 1px solid #F0F1F1;

        box-shadow:0px 3px 6px  #00000029;
        transform: scale(1.1);
        &::before {
            transform: scale(0);
        }

        &::after {
            transform: translateX(-43px);
        }

        .icon {
            transform: translateX(-43px);
        }
        p{
        color: var(--color-secondry);

        }

    }
}